@import './variables';

@mixin modal {
    background-color: $background-primary;
    box-shadow: 0 0px 1.8px rgba(0, 0, 0, 0.111), 0 0px 5px rgba(0, 0, 0, 0.16), 0 0px 12.1px rgba(0, 0, 0, 0.209), 0 0px 40px rgba(0, 0, 0, 0.32);
    padding: 1rem;

    position: fixed;
    width: 80%;
    height: 60%;
    left: 50%;
    top: 37%;
    transform: translate(-50%, -50%);
    z-index: 100;
    border-radius: 0.5rem;
    transition: transform 0.3s ease-in-out, opacity 0.3s ease-in-out;
    will-change: transform;

    &:not(.active) {
        transform: scale(0.7) translate(-71%, -65%);
        opacity: 0;
        pointer-events: none;
    }
}

@mixin side-view($position: left) {
    $positionWhenActive: -100%;
    @if ($position == left) {
        $position: -100%;
        $positionWhenActive: 100%
    }
    @else {
        $position: 100%;
    }

    z-index: 10;
    
    position: fixed;
    top: 0;
    left: $position;
    background-color: $background-primary;
    width: 100%;
    height: 100%;
    box-sizing: border-box;
    
    transition: transform 0.3s ease-in-out;
    will-change: transform;

    &.active {
        transform: translateX($positionWhenActive);
    }
}

@mixin default-side-view-header {
    header {
        position: relative;
        padding: 8rem 0;
        font-size: 2rem;
        text-align: center;

        .back {
            position: absolute;
            left: 1rem;
            bottom: 1rem;
            width: 2rem;
            height: 2rem;
            border: 0;
            background-color: transparent;
            font-weight: bold;
            font-size: 1rem;

            &:focus {
                outline: none;
            }
        }

        @content;
    }
}

@mixin button {
    border: 0;
    padding: 0.7rem 1rem;
    border-radius: 3rem;
    box-shadow:
        0 1px 2.2px rgba(0, 0, 0, 0.02),
        0 2.3px 5.3px rgba(0, 0, 0, 0.028),
        0 4.4px 10px rgba(0, 0, 0, 0.035),
        0 7.8px 17.9px rgba(0, 0, 0, 0.042),
        0 14.6px 33.4px rgba(0, 0, 0, 0.05),
        0 35px 80px rgba(0, 0, 0, 0.07)
    ;

    box-sizing: border-box;

    &:focus {
        outline: none;
    }
}

@mixin shadow {
    box-shadow:
        0 1px 2px rgba(0, 0, 0, 0.02),
        0 2px 5px rgba(0, 0, 0, 0.028),
        0 4px 10px rgba(0, 0, 0, 0.035),
        0 8px 18px rgba(0, 0, 0, 0.042),
        0 15px 33px rgba(0, 0, 0, 0.05),
        0 35px 80px rgba(0, 0, 0, 0.07)
    ;
}

@mixin user-icon($size, $outline:false) {
    .user-icon {
        border-radius: 50%;
        @if ($outline) {
            padding: 0.2rem;
            border: 1px solid darken($background-secondary, 20%);
        }
        
        h2 {
            width: $size;
            height: $size;
            background: grey;
            border-radius: 50%;
            text-align: center;
            line-height: $size;
            font-size: $size * 0.25;
            color: white;
            text-transform: uppercase;
        }
    }
}