$text-primary: rgba(101, 103, 105, 1);
$text-secondary: rgba(143, 131, 137, 1);

$background-primary: rgba(251, 252, 255, 1);
$background-secondary: rgba(239, 241, 244, 1);

$accent-green: rgba(174, 213, 129, 1);
$accent-red: rgba(238, 73, 73, 1);
$accent-yellow: rgba(244, 201, 93, 1);
