@use "./components/authentication";
@use "./components/friendlist";
@use "./components/friends";
@use "./components/notification";
@use "./components/payment-process";
@use "./components/pod-order";
@use "./components/quick-access";
@use "./components/report";
@use "./components/searchbar";
@use "./components/settings";
@use "./components/subscription";
@use "./components/travel-view";
@use "./components/usersettings";
@use "./components/subscription-quick";
@use "./components/map";
@use "./components/package";

@import "./variables";


body {
    background-color: $background-primary;
    width: 100vw;
    height: 100vh;
    overflow: hidden;
    font-family: 'Roboto', sans-serif;
    color: $text-primary;
}

.leaflet-routing-alternatives-container {
    display: none;
}

.animate-route {
    stroke-dasharray: 1000;
    stroke-dashoffset: 1000;
}

a {
    color: $accent-red;
    font-weight: bold;
    text-decoration: none;
}

h1, h2, h3, h4, h5, h6 {
    font-family: 'Montserrat', sans-serif;
}

.hidden {
    display: none;
}

@keyframes test {
    to {
        stroke-dashoffset: 0;
    }
}