@use "./components/quick-access";
@use "./components/searchbar";
@use "./components/friendlist";
@use "./components/usersettings";
@use "./components/report";

@import "./variables";


body {
    background-color: $background-primary;
    width: 100vw;
    height: 100vh;
    overflow: hidden;
    font-family: 'Roboto', sans-serif;
    color: $text-primary;
}

a {
    color: $accent-red;
    font-weight: bold;
    text-decoration: none;
}

h1, h2, h3, h4, h5, h6 {
    font-family: 'Montserrat', sans-serif;
}

.hidden {
    display: none;
}