@use '../util';

#authentication {
    background-color: darken(util.$text-primary, 35%)!important;
    background-image: url(../images/noise.png);
    @include util.side-view(left);

    &.active .globe {
        animation: moveGlobe 1.5s cubic-bezier(.47,.16,.67,1) 1s forwards;

        img {
            animation: moveLogo 1.5s cubic-bezier(.47,.16,.67,1.16) 1s forwards;
        }
    }

    @include util.default-side-view-header {
        .globe {
            @include util.shadow;
            background-color: black;
            background: radial-gradient(circle at 36% -17%, #ee4949, #000);
            background-size: 200%;
            background-position: 100%;
            border-radius: 50%;
            width: 18rem;
            height: 18rem;
            margin: auto;
            overflow: hidden;
            will-change: background-position;

            img {
                width: 100%;
                transform: translateX(-50%) rotateY(-90deg);
                will-change: transform;
            }
        }
    }

    background-color: lighten(util.$accent-red, 35%);

    .content {
        display: flex;
        flex-flow: column;
        padding: 2rem;
        height: 13rem;
        justify-content: space-evenly;

        button {
            @include util.button;
            font-weight: bold;

            &:first-child {
                background-color: util.$accent-red;
                color: util.$background-primary;
            }

            &:last-child {
                border: 2px solid util.$accent-red;
                background-color: darken(util.$text-primary, 35%);
                background-image: url(../images/noise.png);
                color: util.$accent-red;
                box-sizing: border-box;
            }
        }

        p {
            position: relative;
            width: 100%;
            text-align: center;

            &:before {
                content: "";
                position: absolute;
                left: 0;
                top: 50%;
                background-color: #8f8389;
                width: 40%;
                height: 1px;
            }

            &:after {
                content: "";
                position: absolute;
                right: 0;
                top: 50%;
                background-color: #8f8389;
                width: 40%;
                height: 1px;
            }
        }
    }
}

#signin, #signup {
    @include util.side-view(right);
    @include util.default-side-view-header {
        .back {
            color: util.$background-primary;
        }
    };
    background-color: darken(util.$text-primary, 35%)!important;
    background-image: url(../images/noise.png);
    color: util.$background-primary;

    form {
        padding: 2rem;
        display: flex;
        flex-flow: column nowrap;
        justify-content: center;
        
        fieldset {
            position: relative;

            &:not(:first-of-type) {
                margin-top: 1rem;
            }
    
            label {
                position: absolute;
                left: 0.5rem;
                top: 0.5rem;
                color: util.$accent-red;
            }
    
            input {
                width: 100%;
                padding: 0.5rem 0.5rem 0.5rem 2rem;
                background-color: transparent;
                border: 0;
                border-bottom: 1px solid util.$accent-red;
                box-sizing: border-box;
                color: util.$accent-red;
                transition: box-shadow 0.3s ease-in-out;

                &:focus {
                    outline: none;
                    box-shadow:
                        0 0.9px 2.2px rgba(util.$accent-red, 0.02),
                        0 2.1px 5.3px rgba(util.$accent-red, 0.028),
                        0 3.9px 10px rgba(util.$accent-red, 0.035),
                        0 6.9px 17.9px rgba(util.$accent-red, 0.042),
                        0 13px 33.4px rgba(util.$accent-red, 0.05),
                        0 31px 80px rgba(util.$accent-red, 0.07);
                }
            }
        }

        button[type="submit"] {
            @include util.button;
            font-weight: bold;
            color: util.$background-primary;
            background-color: util.$accent-red;

            margin-top: 2rem;
        }
    }
}

@keyframes moveLogo {
    100% {
        transform: translateX(0) rotateY(0);
    }
}

@keyframes moveGlobe {
    100% {
        background-position: 0%;
    }
}