@use '../util';

#friendlist {
    & > h2 {
        margin-left: 2rem;
    }

    ul {
        display: flex;
        overflow-y: scroll;

        li {
            flex-shrink: 0;
            margin: 1rem 0;
            text-align: center;

            h2 {
                margin: 0 auto;
            }

            @include util.user-icon(4rem);

            &:first-child {
                margin-left: 2rem;
            }

            .add {
                background-color: util.$background-secondary;
                width: 4rem;
                height: 4rem;
                border-radius: 50%;
                border: 0;
            }

            &:not(:first-child) {
                margin-left: 1rem;
            }

            &:last-child {
                padding-right: 2rem;
            }
        }
    }
}