@use './recent-trip';
@import '../variables';

#quick-access {
    position: absolute;
    width: 100%;
    height: 100vh;
    bottom: 0;
    background-color: $background-primary;
    box-sizing: border-box;
    box-shadow: 0 0px 1.8px rgba(0, 0, 0, 0.111), 0 0px 5px rgba(0, 0, 0, 0.16), 0 0px 12.1px rgba(0, 0, 0, 0.209), 0 0px 40px rgba(0, 0, 0, 0.32);

    &:not(.active) {
        bottom: -100vh + 25vh; // We want the quick access to be partially shown when not active
        border-radius: 1rem 1rem 0 0;

        header {
            display: flex;

            h3 {
                margin-left: 1rem;
            }
        }
    }
    
    header {
        padding: 3rem 0 0 2rem;
        &::before {
            content: '';
            position: absolute;
            top: 1rem;
            left: 50%;
            width: 10%;
            height: 0.5rem;
            background-color: lighten($text-secondary, 10%);
            border-radius: 3rem;

            transform: translateX(-50%);
        }
    }

}