@use '../util';

#trips {
    margin-top: 2rem;

    & > h2 {
        margin-left: 2rem;
        margin-bottom: 1rem;
    }

    #change-trips{
        margin-left: 2rem;
        background-color: util.$background-secondary;
        height: 3rem;
        width: calc(100% - 4rem);
        border-radius: 25px;
        color: util.$text-primary;
        margin-top: 0.2rem;
        display: flex;
        position: relative;
        box-sizing: border-box;
        input{
            position: absolute;
            visibility: hidden;
        }

        label{
            flex-grow: 1;
            box-sizing: border-box;
            margin: 0.2rem;
            display: block;
            border-radius: 25px;
            text-align: center;
            z-index: 2;
            line-height: 2.6rem;
        }
        &::after{
            content: "";
            position: absolute;
            width: 50%;
            box-sizing: border-box;
            margin: 0.2rem;
            background-color: util.$background-primary;
            height: calc(100% - 0.4rem);
            border-radius: 25px;
            z-index: 1;
            transition: transform 0.3s ease-in-out;
        }
        &.favourite::after{
            transform: translateX(calc(100% - 0.4rem));
        }
    }
    ul::-webkit-scrollbar { width: 0 !important }
    ul {
        display: flex;
        flex-direction: row;
        overflow-x: scroll;
        padding: 2rem 0;
        overflow: -moz-scrollbars-none;
        -ms-overflow-style: none;
        li {
            width: 12rem;
            height: 5rem;
            position: relative;
            padding: 0.5rem;
            border-radius: 1rem;
            box-sizing: border-box;
            flex-shrink: 0;
            margin-right: 1rem;
            box-shadow:
                0 1px 4px rgba(0, 0, 0, 0.02),
                0 2px 5px rgba(0, 0, 0, 0.028),
                0 4px 10px rgba(0, 0, 0, 0.035),
                0 8px 18px rgba(0, 0, 0, 0.042),
                0 15px 33px rgba(0, 0, 0, 0.07);

            &:first-child {
                margin-left: 2rem;
            }

            h2 {
                font-weight: 700;
                font-size: 0.9rem;
            }

            h3 {
                font-size: 0.85rem;
                font-weight: normal;
            }

            div {
                display: flex;
                position: absolute;
                bottom: 0;
                padding: .3rem .5rem .5rem;
                left: 0;
                width: calc(100% - 1rem);
                border-top: 1px solid lighten(util.$text-primary, 50%);
                font-size: 0.8rem;

                .to {
                    margin-left: 1.2rem;
                    position: relative;
                    font-weight: bold;

                    &::before {
                        content: '-';
                        position: absolute;
                        left: -0.75rem;
                    }
                }

                p:last-child {
                    margin-left: auto;
                    display: block;
                }
            }
        }
    }
}