@use '../util';

#settings {
    @include util.side-view(left);

    header {
        position: relative;
        display: flex;
        flex-flow: column nowrap;
        align-items: center;
        margin: 2rem 0 1rem;

        button {
            background: none;
            border: 0;
            font-size: 1.2rem;
            position: absolute;

            &:focus {
                outline: none;
            }

            &.back {
                left: 1rem;
                top: -0.2rem;
            }

            &.achievements {
                right: 1rem;
                top: 0;
            }
        }

        .user-icon-wrapper {
            margin: 1rem 0;
            
            @include util.user-icon(8rem, true);

            h3 {
                margin-top: 0.5rem;
                font-size: 0.7rem;
                text-align: center;
            }
        }
    }

    ul {
        @include util.shadow;
        margin-top: 4rem;

        li {
            padding: 1rem 2rem;
            font-size: 0.9rem;

            &:nth-child(even) {
                background-color: util.$background-secondary;
            }

            ion-icon {
                float: right;
            }
        }
    }
}