@use "../variables";
@use "../util";

#account-settings {
    display: flex;
    flex-flow: column nowrap;
    @include util.setting-page(right);
    box-sizing: border-box;

    header {
        position: relative;
        padding: 8rem 0;
        font-size: 2rem;
        text-align: center;

        .back {
            position: absolute;
            left: 1rem;
            bottom: 1rem;
            width: 2rem;
            height: 2rem;
            border: 0;
            background-color: transparent;
            font-weight: bold;
            font-size: 1rem;

            &:focus {
                outline: none;
            }
        }
    }

    ul {
        @include util.shadow;
        li {
            padding: 1rem 2rem;
            font-size: 0.9rem;
            display: flex;

            &:nth-child(even) {
                background-color: util.$background-secondary;
            }

            p {
                margin-right: 0.5rem;
            }

            input {
                border: 0;
                text-align: right;
                padding-right: 0.5rem;
                border-bottom: 1px solid gray;

                &:focus {
                    outline: none;
                }
            }

            h3 {
                flex-grow: 1;
                font-weight: 500;
            }

            div {
                label {
                    display: block;
                    margin: 0.5rem 0;
                }

                &.hidden {
                    display: block;

                    *:not(a) {
                        display: none;
                    }
                }

                &:not(.hidden) {
                    a {
                        display: block;
                        margin-top: 1rem;
                        text-align: right;
                    }
                }

                input {
                    text-align: left;
                }
            }
        }
    }

    & > button:last-of-type {
        @include util.button;
        background-color: variables.$accent-green;
        font-weight: bold;
        color: variables.$background-primary;
    }
}