#recent-trips {
  padding: 0 2rem;
}
#recent-trips ul {
  display: flex;
  flex-direction: row;
  overflow-x: scroll;
  margin: 1rem 0;
}
#recent-trips ul li {
  width: 12rem;
  height: 5rem;
  position: relative;
  padding: 0.5rem;
  border-radius: 1rem;
  box-sizing: border-box;
  border: 1px solid #989a9c;
  flex-shrink: 0;
  margin-right: 1rem;
}
#recent-trips ul li h2 {
  font-weight: 700;
  font-size: 0.9rem;
}
#recent-trips ul li h3 {
  font-size: 0.85rem;
  font-weight: normal;
}
#recent-trips ul li div {
  display: flex;
  position: absolute;
  bottom: 0;
  padding: 0.3rem 0.5rem 0.5rem;
  left: 0;
  width: calc(100% - 1rem);
  border-top: 1px solid #989a9c;
  font-size: 0.8rem;
}
#recent-trips ul li div .to {
  margin-left: 1.2rem;
  position: relative;
  font-weight: bold;
}
#recent-trips ul li div .to::before {
  content: "-";
  position: absolute;
  left: -0.75rem;
}
#recent-trips ul li div p:last-child {
  margin-left: auto;
  display: block;
}

#quick-access {
  position: absolute;
  width: 100%;
  height: 100vh;
  bottom: 0;
  background-color: #fbfcff;
  box-sizing: border-box;
  box-shadow: 0 0px 1.8px rgba(0, 0, 0, 0.111), 0 0px 5px rgba(0, 0, 0, 0.16), 0 0px 12.1px rgba(0, 0, 0, 0.209), 0 0px 40px rgba(0, 0, 0, 0.32);
}
#quick-access:not(.active) {
  bottom: -75vh;
  border-radius: 1rem 1rem 0 0;
}
#quick-access:not(.active) header {
  display: flex;
}
#quick-access:not(.active) header h3 {
  margin-left: 1rem;
}
#quick-access header {
  padding: 3rem 0 0 2rem;
}
#quick-access header::before {
  content: "";
  position: absolute;
  top: 1rem;
  left: 50%;
  width: 10%;
  height: 0.5rem;
  background-color: #a79ea3;
  border-radius: 3rem;
  transform: translateX(-50%);
}

.searchbar {
  position: absolute;
  width: 75%;
  top: 3rem;
  left: 50%;
  transform: translateX(-50%);
  padding: 0.7rem 1rem;
  border-radius: 1rem;
  box-shadow: 0 0px 1.8px rgba(0, 0, 0, 0.111), 0 0px 5px rgba(0, 0, 0, 0.16), 0 0px 12.1px rgba(0, 0, 0, 0.209), 0 0px 40px rgba(0, 0, 0, 0.32);
  box-sizing: border-box;
}
.searchbar label {
  position: absolute;
  right: 0.75rem;
  top: 0.7rem;
}
.searchbar input {
  border: 0;
  width: 95%;
}
.searchbar input:focus {
  outline: none;
}
.searchbar ul {
  position: relative;
  max-height: 12rem;
  overflow: hidden;
  transition: max-height 0.3s ease-in-out;
}
.searchbar ul li {
  padding: 0.5rem 0.75rem;
  font-size: 0.9rem;
}
.searchbar ul li:nth-child(even) {
  background-color: #eff1f4;
}
.searchbar:not(.active) {
  border-radius: 3rem;
}
.searchbar:not(.active) ul {
  max-height: 0;
}

#friendlist {
  padding: 0 2rem;
}
#friendlist ul {
  display: flex;
  overflow-y: scroll;
}
#friendlist ul li {
  flex-shrink: 0;
  margin: 1rem 0;
}
#friendlist ul li figure {
  text-align: center;
}
#friendlist ul li figure img {
  width: 4rem;
  border-radius: 50%;
}
#friendlist ul li .add {
  background-color: #eff1f4;
  width: 4rem;
  height: 4rem;
  border-radius: 50%;
  border: 0;
}
#friendlist ul li:not(:first-child) {
  margin-left: 1rem;
}
#friendlist ul li:last-child {
  padding-right: 2rem;
}

#account-settings {
  display: flex;
  flex-flow: column nowrap;
  background-color: #fbfcff;
  box-shadow: 0 0px 1.8px rgba(0, 0, 0, 0.111), 0 0px 5px rgba(0, 0, 0, 0.16), 0 0px 12.1px rgba(0, 0, 0, 0.209), 0 0px 40px rgba(0, 0, 0, 0.32);
  padding: 1rem;
  position: absolute;
  width: 80%;
  height: 60%;
  left: 50%;
  top: 37%;
  transform: translate(-50%, -50%);
  z-index: 100;
  border-radius: 0.5rem;
  transition: transform 0.3s ease-in-out, opacity 0.3s ease-in-out;
}
#account-settings:not(.active) {
  transform: scale(0.7) translate(-71%, -65%);
  opacity: 0;
  pointer-events: none;
}
#account-settings ul {
  margin-top: 2rem;
  flex-grow: 1;
}
#account-settings ul li {
  display: flex;
  padding: 1rem 0;
  border-top: 1px solid #d9dada;
}
#account-settings ul li:last-child {
  border-bottom: 1px solid #d9dada;
}
#account-settings ul li p {
  margin-right: 0.5rem;
}
#account-settings ul li input {
  border: 0;
  text-align: right;
  padding-right: 0.5rem;
  border-bottom: 1px solid gray;
}
#account-settings ul li input:focus {
  outline: none;
}
#account-settings ul li h3 {
  flex-grow: 1;
  font-weight: 500;
}
#account-settings ul li div label {
  display: block;
  margin: 0.5rem 0;
}
#account-settings ul li div.hidden {
  display: block;
}
#account-settings ul li div.hidden *:not(a) {
  display: none;
}
#account-settings ul li div:not(.hidden) a {
  display: block;
  margin-top: 1rem;
  text-align: right;
}
#account-settings ul li div input {
  text-align: left;
}
#account-settings button {
  border: 0;
  padding: 0.7rem 1rem;
  border-radius: 3rem;
  box-shadow: 0 1px 2.2px rgba(0, 0, 0, 0.02), 0 2.3px 5.3px rgba(0, 0, 0, 0.028), 0 4.4px 10px rgba(0, 0, 0, 0.035), 0 7.8px 17.9px rgba(0, 0, 0, 0.042), 0 14.6px 33.4px rgba(0, 0, 0, 0.05), 0 35px 80px rgba(0, 0, 0, 0.07);
  box-sizing: border-box;
  background-color: #aed581;
  font-weight: bold;
  color: #fbfcff;
}
#account-settings button:focus {
  outline: none;
}

#report-modal {
  background-color: #fbfcff;
  box-shadow: 0 0px 1.8px rgba(0, 0, 0, 0.111), 0 0px 5px rgba(0, 0, 0, 0.16), 0 0px 12.1px rgba(0, 0, 0, 0.209), 0 0px 40px rgba(0, 0, 0, 0.32);
  padding: 1rem;
  position: absolute;
  width: 80%;
  height: 60%;
  left: 50%;
  top: 37%;
  transform: translate(-50%, -50%);
  z-index: 100;
  border-radius: 0.5rem;
  transition: transform 0.3s ease-in-out, opacity 0.3s ease-in-out;
  display: flex;
  flex-flow: column nowrap;
}
#report-modal:not(.active) {
  transform: scale(0.7) translate(-71%, -65%);
  opacity: 0;
  pointer-events: none;
}
#report-modal .close-modal {
  position: absolute;
  right: 0;
  top: 0;
  width: 2rem;
  height: 2rem;
  border: 0;
  background-color: transparent;
  font-weight: bold;
  font-size: 1rem;
}
#report-modal .close-modal:focus {
  outline: none;
}
#report-modal form {
  display: flex;
  flex-flow: column nowrap;
  flex-grow: 1;
}
#report-modal form select {
  padding: 0.5rem;
  border-radius: 0.5rem;
  background-color: #eff1f4;
  border: 0;
}
#report-modal form select:focus {
  outline: none;
  border-radius: 0.5rem 0.5rem 0 0;
}
#report-modal form textarea {
  height: 10rem;
  width: 100%;
  box-sizing: border-box;
  flex-grow: 1;
  resize: none;
  border: none;
  background-color: #eff1f4;
  border-radius: 0.5rem;
  padding: 0.5rem;
}
#report-modal form textarea:focus {
  outline: none;
}
#report-modal form button {
  border: 0;
  padding: 0.7rem 1rem;
  border-radius: 3rem;
  box-shadow: 0 1px 2.2px rgba(0, 0, 0, 0.02), 0 2.3px 5.3px rgba(0, 0, 0, 0.028), 0 4.4px 10px rgba(0, 0, 0, 0.035), 0 7.8px 17.9px rgba(0, 0, 0, 0.042), 0 14.6px 33.4px rgba(0, 0, 0, 0.05), 0 35px 80px rgba(0, 0, 0, 0.07);
  box-sizing: border-box;
  background-color: #aed581;
  margin-top: 3rem;
  color: #fbfcff;
}
#report-modal form button:focus {
  outline: none;
}
#report-modal form label {
  display: block;
  margin: 1rem 0 0.5rem;
}

#settings {
  position: absolute;
  top: 0;
  left: 0;
  background-color: #fbfcff;
  width: 100%;
  height: 100%;
}
#settings header {
  position: relative;
  display: flex;
  flex-flow: column nowrap;
  align-items: center;
  margin: 2rem 0 1rem;
}
#settings header button {
  background: none;
  border: 0;
  font-size: 1.2rem;
  position: absolute;
}
#settings header button:focus {
  outline: none;
}
#settings header button.back {
  left: 1rem;
  top: -0.2rem;
}
#settings header button.achievements {
  right: 1rem;
  top: 0;
}
#settings header figure {
  margin: 1rem 0;
}
#settings header figure img {
  border-radius: 50%;
  padding: 0.2rem;
  border: 1px solid #b3bcca;
}
#settings header figure figcaption {
  margin-top: 0.5rem;
  font-size: 0.7rem;
  text-align: center;
}
#settings ul {
  box-shadow: 0 1px 2.2px rgba(0, 0, 0, 0.02), 0 2.3px 5.3px rgba(0, 0, 0, 0.028), 0 4.4px 10px rgba(0, 0, 0, 0.035), 0 7.8px 17.9px rgba(0, 0, 0, 0.042), 0 14.6px 33.4px rgba(0, 0, 0, 0.05), 0 35px 80px rgba(0, 0, 0, 0.07);
  margin-top: 4rem;
}
#settings ul li {
  padding: 1rem 2rem;
  font-size: 0.9rem;
}
#settings ul li:nth-child(even) {
  background-color: #eff1f4;
}
#settings ul li ion-icon {
  float: right;
}

body {
  background-color: #fbfcff;
  width: 100vw;
  height: 100vh;
  overflow: hidden;
  font-family: "Roboto", sans-serif;
  color: #656769;
}

a {
  color: #ee4949;
  font-weight: bold;
  text-decoration: none;
}

h1, h2, h3, h4, h5, h6 {
  font-family: "Montserrat", sans-serif;
}

.hidden {
  display: none;
}

/*# sourceMappingURL=screen.css.map */
